{% include 'base.html' %}
{% block content%}
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

<!-- Load Leaflet from CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
  integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
  crossorigin=""></script>

<!-- Load Esri Leaflet Geocoder from CDN -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
  integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
  crossorigin="">
<script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
  integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
  crossorigin=""></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!-- <style>
  body {
    margin: 0;
    padding: 0;
  }

  #map {}

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 45%;
    max-width: 350px;
    min-width: 200px;
    overflow: auto;
    max-height: 75%;
  }
</style> -->
</head>

<body>
  <div class="form-group">
    <form class="form-group" action="{% url 'showroute' %}" method="post" id="inputContainer">
      {% csrf_token %}
      <div id="input">
        {{ form.as_p }}
        <input type="button" class="btn btn-warning" value="Добавить промежуточную точку" id="add-field">
        </br>
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
  </div>

  <div id="map"></div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var form = document.getElementById('inputContainer');
      var container = document.getElementById('input');
      var addFieldButton = document.getElementById('add-field');
      var fieldIndex = 0;  // Начальный индекс для создания уникальных имен и идентификаторов

      addFieldButton.addEventListener('click', function () {
        // Клонируем поле выбора
        var clonedField = container.firstElementChild.cloneNode(true);
        console.log(clonedField)
        clonedField

        // Увеличиваем индекс и обновляем имена и идентификаторы
        fieldIndex++;
        clonedField.querySelector('select').name = 'dynamic_field_' + fieldIndex;
        clonedField.classList.add('form-control');
        clonedField.querySelector('label').textContent = 'Промежуточная точка';

        // Добавляем клон в контейнер
        container.insertBefore(clonedField, container.children[1]);
      });
    });
  </script>
</body>

{% endblock %}