{% include 'base.html' %}
{% block content%}
{{map.header.render|safe}}
{% load static %}
<link rel="stylesheet" href="{% static 'css/showroute.css' %}">
</link>
</head>

<body>
	{% if map %}
	<div class="map-overlay">

		{{map | safe}}
		<button onclick="window.history.back()" class="map-control btn btn-warning">Назад</button>
		<div class="sights-overlay">
			<div class="sights-header">
				<h3>Достопримечательности</h3>
			</div>
			<div class="sights-content">
				<ul>
					{% for name in sights %}
					<li>{{ name }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<script>
		{ { map.script.render | safe } }
	</script>
	{% endif %}
</body>

{% endblock %}
