{% include 'base.html' %}
{% block content%}
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
</head>

<body>
  <div class="form-group">
    <form class="form-group" action="{% url 'showroute' %}" method="post" id="inputContainer">
      {% csrf_token %}
      <div id="input">
        {{ form.as_p }}
        <input type="button" class="btn btn-warning" value="Добавить промежуточную точку" id="add-field"
          onclick="addField()">
        <input type="button" class="btn btn-danger" value="Удалить промежуточную точку" id="delete-field"
          onclick="removeField()">
        </br>
        <input type="submit" class="btn btn-primary" value="Построить">
      </div>
    </form>
  </div>

  <div id="map"></div>
  <script src="{% static 'js/showmap.js' %}"></script>
</body>

{% endblock %}